@font-face {
  font-family: "MajorMonoDisplay";
  src: url("../Fonts/MajorMonoDisplay-Regular.ttf");
}

@font-face {
  font-family: "MuseoModerno";
  src: url("../Fonts/MuseoModerno-VariableFont_wght.ttf");
}

:root {
  --azul-pastel: rgb(95, 143, 163);
  --turqueza: rgb(97, 186, 164);
  --amarillo-palido: rgb(255, 255, 221);
  --naranja-zanahoria: rgb(255, 155, 43);
  --verde-claro: rgb(210, 208, 71);
  font-family: "MuseoModerno";
  background: url(../Images/Backgrounds/16Ejemplo.jpg) rgb(144, 152, 95);
  background-size: cover;
  background-blend-mode: multiply;
}

body{
  margin: 0;
}

/* Botón de regresar */

#btnRegresar{
  background-image: radial-gradient(100% 100% at 100% 0, var(--verde-claro) 0, var(--naranja-zanahoria) 100%);
  border: 4px rgb(31, 51, 71) solid ;
  position: absolute;
  border-radius: 50%;
  margin: 20px;
  height: 90px;
  width: 90px;
  cursor: pointer;
  transition: 150ms all;
}

#btnRegresar img{
  height: 100%;
  width: 100%;
}

#btnRegresar:hover{
  height: 110px;
  width: 110px;
}

/* Título */

#idTitulo.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.title{
  background: linear-gradient(0deg, var(--verde-claro) 0%, var(--turqueza) 100%);
  color: var(--amarillo-palido);
  border-radius: 30px;
  border: 10px solid transparent;
  min-width: max-content;
  margin: 20px;
  padding-inline: 10px;
}

.title h1{
  margin: 10px;
  font-family: "MajorMonoDisplay";
  font-size: 40px;
}

.title p{
  font-size: 18px;
  margin-top: 5px;
}

/* Opciones */

#idBloqueOpciones.container{
  background: linear-gradient(0deg, var(--verde-claro) 0%, var(--turqueza) 100%);
  border: 7px transparent solid;
  display: block;
  width: max-content;
  margin: 0 auto;
  padding-block: 20px;
  padding-inline: 30px;
  border-radius: 30px;
}

.opciones{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.opciones h2{
  display: flex;
  align-items: center;
  font-size: 32px;
  color: rgb(31, 51, 71);
}

#idSonido::after{
  content: "";
  width: 50px;
  height: 50px;
  background: url('../Images/Iconos/efectoDeSonido.png') no-repeat;
  background-size: contain;
  margin-inline: 30px;
}

#idMusica::after{
  content: "";
  width: 50px;
  height: 50px;
  background: url('../Images/Iconos/musica.png') no-repeat;
  background-size: contain;
  margin-inline: 30px;
}

/* Switches */

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--azul-pastel);
  -webkit-transition: .2s;
  transition: .2s;
  border: 2px rgba(255, 255, 0, 0.5) solid;
  box-shadow: -4px 3px rgba(31, 51, 71, 0.4);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 3px;
  background-color: var(--amarillo-palido);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: var(--naranja-zanahoria);
  box-shadow: -4px 3px rgba(31, 51, 71, 0.4);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--naranja-zanahoria);
  box-shadow: -4px 3px rgba(31, 51, 71, 0.4);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}