@font-face {
    font-family: "MajorMonoDisplay";
    src: url("../Fonts/MajorMonoDisplay-Regular.ttf");
}

@font-face {
    font-family: "MuseoModerno";
    src: url("../Fonts/MuseoModerno-VariableFont_wght.ttf");
}

:root {
  --azul-pastel: rgb(95, 143, 163);
  --turqueza: rgb(97, 186, 164);
  --amarillo-palido: rgb(255, 255, 221);
  --naranja-zanahoria: rgb(255, 155, 43);
  --verde-claro: rgb(210, 208, 71);
  font-family: "MuseoModerno";
  background-color: rgba(31, 51, 71, 0.3);
}

body{
    margin: 0;
    overflow: hidden;
}

.container{
    height: 100vh;

    border-image: linear-gradient(to top, var(--verde-claro) 0%, var(--turqueza) 100%) 1;
    border-width: 40px;
    border-style: solid;
    padding-inline: 40px;
    padding-block: 20px;
    
    position: relative;
    box-sizing: border-box;
}

.superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: -10px;
}

/* Progress Bar Propio y Piezas*/
#idPBPropio{
    width: 230px;
}

/* Items */
.centro-S{
    background: 
                radial-gradient(circle, rgba(97, 186, 164,0.5) 0%, rgba(31, 51, 71,0.6) 100%) padding-box,
                linear-gradient(to top, var(--naranja-zanahoria), var(--verde-claro)) border-box;
    box-shadow: 0 5px var(--verde-claro), 0 7px 10px rgba(31, 51, 71, 0.5);
    border-radius: 20px;
    border: 6px solid transparent;
    width: max-content;
    height: max-content;
    margin-left: 50px;
}

#idItem{
    padding: 12px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Vida */

.esquina-S-Der{
    display: flex;
    flex-direction: column;
    align-items: end;
}

#idVida{
    display: block;
    width: 300px;
}

/* Progress Bar del resto de jugadores */

.centro-I {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10px;
    box-sizing: border-box;
}
#idPieza1, #idPieza2, #idPieza3{
    background: 
                radial-gradient(circle, rgba(97, 186, 164,0.5) 0%, rgba(31, 51, 71,0.6) 100%) padding-box,
                linear-gradient(to top, var(--turqueza), var(--azul-pastel)) border-box;
    box-shadow: -5px 5px var(--azul-pastel), -5px 5px 10px rgba(31, 51, 71, 0.7);
    border-radius: 20px;
    border: 6px solid transparent;
    height: max-content;

    margin-bottom: 15px;
    padding: 12px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}